I am Matteo, I was born in 1992 and I am from Varese, I will soon reach my Master's Degree in Computer Science at
<a href='//www.uninsubria.it/' target='_blank'>Università degli Studi dell’Insubria</a>.<br>
Currently I am working as Software Engineer at <a href='//www.cloudacademy.com' target='_blank'>Cloud Academy</a>.<br>
Previously I have worked as Software Devloper at <a href='//www.trovaprezzi.it' target='_blank'>trovaprezzi.it</a>
and <a href='//www.ottoapiu.it' target='_blank'>8a+</a> and as
an IT Consultant for <a href='https://www.akka-technologies.com/' target='_blank'>Akka Technologies</a>.